@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

/*Variables*/

:root {
  --font-color: #eef8f7;
  --black: #010506;
  --orange-color: #e35f21;
}

/*Basic styles*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Poppins", sans-serif;
  color: var(--font-color);
  background-color: var(--black);
}

.nav {
  display: flex;
  flex-direction: row;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: var(--font-color);
  font-size: 2rem;
}
